/*
//fonts
@font-face {
  font-family: 'Lato-Heavy';
  src:  url('Lato-Heavy.woff2') format('woff2'),
        url('Lato-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Light';
  src:  url('Lato-Light.woff2') format('woff2'),
        url('Lato-Light.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Bold';
  src:  url('.fonts/Lato-Bold.woff2') format('woff2'),
        url('.fonts/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Medium';
  src:  url('.fonts/Lato-Medium.woff2') format('woff2'),
        url('.fonts/Lato-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Lato-Regular';
  src:  url('.fonts/Lato-Regular.woff2') format('woff2'),
        url('.fonts/Lato-Regular.woff') format('woff');
}
*/
html {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  min-height: 100%;
  font-family: 'Lato', Fallback, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 40px;
  font-family: 'Lato-Light', sans-serif;
}
h2 {
  font-size: 28px;
  font-family: 'Lato-Medium', sans-serif;
  text-decoration: none;
  font-weight: normal;
  line-height: 35px;
}
h3 {
  font-size: 16px;
  font-family: 'Lato-Medium', sans-serif;
  line-height: 24px;
  text-decoration: none;
  font-weight: normal;
}
p,
ul {
  font-size: 15px;
  line-height: 26px;
}
body {
  margin: 0;
  color: #202020;
  overflow-x: hidden;
  overflow-y: scroll;
  background-size: 100% 105%;
  background-repeat: no-repeat;
}
.bg-layer {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}
.page-bg {
  vertical-align: middle;
  position: absolute;
  top: -3%;
  left: 50%;
  width: 1470px;
  height: auto;
  transform: translateX(-50%);
}
a,
button,
select,
input {
  outline: 0 !important;
}
a {
  color: #000;
  text-decoration: none;
}
article {
  width: 100%;
}
button {
  padding: 10px 30px;
  font-size: 18px;
  color: #202020;
  background-color: #ffdc0b;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-out 0.2s;
  border-radius: 22px;
  border: 0px;
  box-shadow: 0px 2px 20px 0px #DADADA;
  height: 44px;
  /*
  &:hover {
    text-decoration: none;
    background-color: @button-active-color;
  }
  */
}
.loading {
  width: 100%;
  height: 75px;
  background: url(../img/loading.svg) no-repeat center center;
  background-size: contain;
}
.small_text {
  font-size: 12px;
}
.yellow_text {
  color: #ffdc0b;
}
.contact_me_link {
  font-size: 18px;
}
.blue_link {
  font-family: 'Lato-Medium', sans-serif;
  color: #0057ff;
}
.blue_link:hover {
  color: #febc19;
}
.dont-delete-me {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  background-color: white;
  position: relative;
}
.dont-delete-me > form {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}
.dont-delete-me > form > * {
  margin-top: 20px;
}
.dont-delete-me > form > input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.no-display {
  display: none;
}
.whitish {
  background-color: #ffffff;
}
.expand_on_hover {
  transition: transform 0.2s;
  /* Animation */
}
.expand_on_hover:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 0px 2px 20px 3px #DADADA;
  z-index: 10;
}
.lighten_on_hover:hover {
  filter: opacity(30%);
}
header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: 'Lato-Regular', sans-serif;
}
header > .header-container {
  padding: 0 0px;
  margin: auto;
}
.header_link {
  cursor: pointer;
}
.header_link:hover {
  border-bottom: 3px solid #ffdc0b;
}
.header-shadow {
  background-color: #ffffff;
  box-shadow: 5px 0px 10px #DADADA;
}
header .logo {
  display: inline-block;
  position: relative;
  z-index: 9;
  height: 50px;
  margin: 20px 0px 10px 60px;
}
header .logo img {
  height: 35px;
}
@media screen and (max-width: 900px) {
  header .logo {
    margin: 20px 0px 10px 5% !important;
  }
  .ham_container {
    margin: 20px 5% !important;
  }
  #introduction {
    margin: 0 5% !important;
  }
}
header nav {
  display: inline-block;
  float: right;
}
header nav > ul {
  display: inline-block;
  padding: 0;
  margin: 0 50px 0 0;
  list-style: none;
}
header nav > ul > li {
  display: inline-block;
  margin: 0 16px;
  position: relative;
  z-index: 1;
}
header nav > ul > li > a {
  line-height: 80px;
  color: #000;
  text-decoration: none;
}
header nav > ul > li.active > a {
  border-bottom: 3px solid #ffdc0b;
}
.active_circle {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: -5px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  color: #ffdc0b;
  background: #ffdc0b;
}
.centered_title {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.ham_container {
  display: none;
  margin: 20px 60px;
  cursor: pointer;
  float: right;
}
.ham_turned {
  transform: rotate(90deg);
}
.ham_menu_container {
  width: 100%;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 8px 8px -8px #DADADA;
}
.ham_menu_container > ul {
  font-size: 28px;
  line-height: 35px;
  text-align: right;
  float: right;
  margin-right: 60px;
  list-style: none;
}
.ham_menu_container > ul > li {
  margin: 30px 0;
}
@media screen and (max-width: 900px) {
  .ham_container {
    display: inline-block;
  }
  header nav {
    display: none;
  }
}
.ham_selected > a {
  color: #ffdc0b;
}
main {
  display: flex;
  width: 100%;
  padding: 0 0px 100px 0px;
  margin: 0 auto 300px auto;
  flex-wrap: wrap;
  max-width: 1400px;
}
#intro_text_container {
  position: absolute;
  margin-top: 120px;
}
#intro_text_container > button {
  margin-top: 50px;
}
.intro_header {
  margin-bottom: 20px;
}
#meijie {
  position: relative;
  float: right;
  width: 600px;
}
@media screen and (max-width: 1200px) {
  #meijie {
    display: none;
  }
  #intro_text_container {
    position: relative;
  }
}
#introduction {
  margin: 0 20px 0 60px;
}
.yellow_links_container {
  margin-top: 40px;
}
.yellow_links_container > a {
  margin: 0 15px 0 0;
}
.fancy_title_container {
  position: relative;
  width: 100%;
}
.fancy_title_container > h1 {
  margin: 0px 60px 30px 60px;
  text-align: center;
}
.ghost_title {
  position: absolute;
  width: 100%;
  margin: 0 !important;
  text-align: center;
  top: -50%;
  font-size: 120px;
  font-family: 'Lato-Medium', sans-serif;
  color: rgba(232, 236, 247, 0.33);
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .ghost_title {
    font-size: 60px;
    top: 20%;
  }
}
article {
  margin-top: 100px;
}
.img_row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.img_row2 > .img_container {
  cursor: pointer;
  width: 31%;
  height: auto;
  position: relative;
}
.img_row2 > .img_container > img {
  display: block;
  width: 100%;
}
.img_row2 > .img_container > .main_page_img_title {
  margin-top: 5px;
  text-align: center;
}
/*
#case_6 {

}
*/
#case_5 {
  margin-bottom: 1%;
}
#case_4 {
  margin-bottom: 1%;
  margin-right: 1%;
}
#case_3 {
  margin-right: 1%;
}
#case_2 {
  margin-right: 1%;
}
#case_1 {
  margin-bottom: 1%;
  margin-right: 1%;
}
/*
#case_4 {
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

#case_3 {
  margin-bottom: 1%;
  margin-right: 1%;
}

#case_2 {
  margin-left: 1%;
  margin-right: 1%;
}

#case_1 {
  margin-right: 1%;
}
*/
@media screen and (max-width: 900px) {
  #case_6 {
    margin-left: 1%;
    margin-right: 1%;
  }
  #case_5 {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  #case_4 {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  #case_3 {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  #case_2 {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
  #case_1 {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
.img_row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
.img_row1 > img {
  width: 100%;
}
#dailyui_link {
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .img_row2 > .img_container {
    width: 100%;
  }
}
.about_img_container {
  float: left;
  width: 500px;
  margin-right: 50px;
}
.about_img {
  width: 500px;
}
@media screen and (max-width: 1100px) {
  .about_img {
    width: 500px;
  }
  .about_img_container {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .about_page {
    margin: 100px 5% 0 5% !important;
  }
}
.about_page {
  margin: 100px 10% 0 10%;
}
.daily_ui_container {
  display: inline-flex;
  /* or inline-flex */
  flex-flow: row wrap;
  justify-content: space-around;
}
.daily_ui_container > img {
  margin: 13px 0;
  width: 31%;
  height: 100%;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .daily_ui_container > img {
    width: 100% !important;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .daily_ui_container > img {
    width: 50%;
  }
}
.photo_page_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.photo_column {
  flex: 49%;
  max-width: 49%;
  padding: 0 4px;
}
.photo_column > img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .photo_column {
    flex: 100%;
    max-width: 100%;
  }
}
.case_container {
  margin: 0 10%;
}
.case_container > * {
  margin-bottom: 90px;
}
.case_supertitle {
  font-family: 'Lato-Bold', sans-serif;
  vertical-align: top;
  margin-right: 100px;
  width: 300px;
  margin-top: 120px;
  margin-bottom: 0;
}
.case_title {
  font-family: 'Lato-Bold', sans-serif;
  float: left;
  width: 300px;
}
.case_title > .case_subsection_title {
  display: inline-block;
}
.case_title > .case_section_title {
  font-weight: bold;
  margin-bottom: 0px;
}
.case_description {
  margin-left: 300px;
}
.case_description > p {
  display: inline-block;
  margin-bottom: 40px;
}
.case_description > .center_container {
  width: 100%;
  text-align: center;
}
.case_description > .center_container > .proto_gif {
  margin-bottom: 40px;
}
.no_margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
.clear {
  clear: both;
}
.case_description.with_button {
  text-align: center;
}
.case_ul_container {
  display: inline-block;
  width: 100%;
}
.case_ul_container > .case_ul_1 {
  float: left;
  width: 50%;
}
.case_ul_container > .case_ul_1 > ul {
  padding-left: 13px;
}
.case_ul_container > .case_ul_2 {
  margin-left: 55%;
}
.case_ul_container > .case_ul_2 > ul {
  padding-left: 13px;
}
.case_ol_container {
  display: inline-block;
  width: 100%;
}
.case_ol_container > .case_ol_1 {
  float: left;
  width: 50%;
}
.case_ol_container > .case_ol_1 > ol {
  padding-left: 13px;
}
.case_ol_container > .case_ol_1 > ol > li {
  margin-top: 10px;
}
.case_ol_container > .case_ol_2 {
  margin-left: 55%;
}
.case_ol_container > .case_ol_2 > ol {
  padding-left: 13px;
}
.case_ol_container > .case_ol_2 > ol > li {
  margin-top: 10px;
}
.case_img {
  width: 100%;
  position: relative;
}
.click_to_overlay {
  cursor: pointer;
}
.case_title_description_container.first_case_title_desc_pair {
  margin-bottom: 30px;
}
.case_title_description_container.more_margin_after {
  margin-bottom: 120px;
}
.less_margin_case_pair {
  margin-bottom: 40px !important;
}
.zero_margin_bot {
  margin-bottom: 0px !important;
}
.case_reflection > h3 {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 60px;
}
.case_reflection > p {
  margin-top: 0;
  margin-bottom: 0;
}
.case_reflection > ul {
  margin-top: 0;
  padding-left: 13px;
}
.case_reflection > .thanks_text {
  margin: 60px 0;
}
.case_header {
  z-index: -1;
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}
.case_header .case_header_img_container {
  display: inline-block;
  margin-left: 6%;
  width: calc(80% - 225px);
}
.case_header .case_header_img {
  width: 100%;
}
.case_header .case_header_box {
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 10px #DADADA;
  right: 0;
  margin-right: 6%;
  padding: 25px;
  width: 400px;
  top: 50%;
  transform: translateY(-50%);
}
.case_header .case_header_box > h1 {
  font-size: 40px;
  margin-top: 0;
}
.case_header .case_header_box > p {
  font-size: 16px;
}
.case_header .case_header_box > .header_box_last_p {
  margin-bottom: 0;
}
.overlay {
  display: none;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  /*dim the background*/
}
.overlay .overlay_img_container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  overflow: scroll;
  text-align: center;
}
.img_in_overlay_w {
  max-width: 100%;
}
.img_in_overlay_h {
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.case_side_nav_container {
  position: fixed;
  height: 100vh;
  margin-top: -80px;
}
.dot_container {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
}
.dot_container > ul > li {
  margin-bottom: 0;
}
.dot_container > .huge_dot {
  width: 100px;
  font-size: 35px;
}
.dot_container > .huge_dot > .dot_text {
  bottom: 3px;
  position: relative;
  visibility: hidden;
  font-size: 14px;
  margin-left: -10px;
  color: #202020 !important;
}
.dot_container > .huge_dot:hover {
  color: #ffdc0b;
}
.dot_container > .huge_dot.yellow_text {
  color: #ffdc0b;
}
.test_prototype_button {
  cursor: pointer;
  position: relative;
}
#test_prototype_button {
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 900px) {
  .case_side_nav_container {
    display: none;
  }
  .case_container {
    margin: 0 5%;
  }
  .case_header .case_header_img_container {
    margin-left: 0;
    width: 100%;
  }
  .case_header .case_header_img {
    width: 100%;
  }
  .case_header .case_header_box {
    position: relative !important;
    box-shadow: none;
    right: auto;
    margin: 0 5%;
    margin-top: 80px;
    padding: 0;
    width: auto;
    top: auto;
    transform: none;
  }
  .case_title {
    float: none;
    width: 100%;
  }
  .case_description {
    margin-left: 0px;
  }
  .case_description > .center_container > img {
    width: 80%;
  }
}
.other_cases_link_container {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 900px) {
  .other_cases_link_container {
    flex-wrap: wrap;
  }
}
.other_case_link {
  margin-right: 40px;
  margin-bottom: 40px;
}
.background_color_case1 {
  background-color: #f3f4f2;
}
.case1_border_bottom_color {
  border-bottom: 5px solid #f3f4f2;
}
.case1_color {
  color: #f3f4f2;
}
.background_color_case2 {
  background-color: #d9edca;
}
.case2_border_bottom_color {
  border-bottom: 5px solid #d9edca;
}
.case2_color {
  color: #d9edca;
}
.background_color_case3 {
  background-color: #cadded;
}
.case3_border_bottom_color {
  border-bottom: 5px solid #cadded;
}
.case3_color {
  color: #cadded;
}
.case3_gif {
  max-width: 280px;
  height: auto;
}
.background_color_case4 {
  background-color: #cdcff7;
}
.case4_border_bottom_color {
  border-bottom: 5px solid #cdcff7;
}
.case4_color {
  color: #cdcff7;
}
.case4_gif {
  max-width: 280px;
  height: auto;
}
.proto_iframe {
  transform-origin: left top;
}
.proto_instructions_container > ul > li {
  margin: 10px 0;
}
.proto_instructions_container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.background_color_case5 {
  background-color: #f3f4f2;
}
.case5_border_bottom_color {
  border-bottom: 5px solid #f3f4f2;
}
.case5_color {
  color: #f3f4f2;
}
footer {
  height: 300px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 30px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
footer > .bg-footer-layer {
  margin: 0;
  position: absolute;
  overflow: hidden;
  top: -550px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
}
footer > .bg-footer-layer > .footer-bg {
  vertical-align: middle;
  position: absolute;
  left: 50%;
  width: 2000px;
  transform: translateX(-50%);
}
footer > .footer_text_container {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
}
footer > .footer_text_container > h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
footer > .footer_text_container > ul {
  margin-top: 40px;
  margin-bottom: 0px;
  display: inline-block;
  padding: 0;
  list-style: none;
}
footer > .footer_text_container > ul > li {
  display: inline-block;
  margin: 0 16px;
}
footer > .footer_text_container > p {
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  footer > .footer_text_container > ul > li {
    margin: 0 30px;
  }
  footer > .footer_text_container > ul > li > a > img {
    height: 35px;
    width: 35px;
  }
  footer > .footer_text_container > * {
    margin: 20px 0;
  }
  .small_text {
    font-size: 15px;
  }
}
