@cell _max_width 800px;
@font-face {
  font-family: 'Lato-Heavy';
  src: url('Lato-Heavy.woff2') format('woff2'), url('Lato-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('.fonts/Lato-Bold.woff2') format('woff2'), url('.fonts/Lato-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Lato-Medium';
  src: url('.fonts/Lato-Medium.woff2') format('woff2'), url('.fonts/Lato-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('.fonts/Lato-Regular.woff2') format('woff2'), url('.fonts/Lato-Regular.woff') format('woff');
}
html {
  position: relative;
  min-height: 100%;
}
h1 {
  font-size: 40px;
}
body {
  margin: 0;
  color: #373737;
}
a,
button,
select,
input {
  outline: 0 !important;
}
a {
  color: #000;
  text-decoration: none;
}
article {
  width: 100%;
}
button {
  padding: 10px 30px;
  font-size: 18px;
  color: #373737;
  background-color: #ffcf0b;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-out 0.2s;
  border-radius: 22px;
  border: 0px;
  box-shadow: 5px 5px 10px #DADADA;
  height: 44px;
}
button:hover {
  text-decoration: none;
  background-color: #FFB300;
}
.loading {
  width: 100%;
  height: 75px;
  background: url(../img/loading.svg) no-repeat center center;
  background-size: contain;
}
.small_text {
  font-size: 0.6em;
}
.header_link:hover {
  border-bottom: 3px solid #ffcf0b;
}
.yellow_text {
  color: #ffcf0b;
}
header {
  height: 80px;
  background-color: #FFF;
  font-size: 14px;
  font-family: 'Lato-Regular', sans-serif;
}
header > .header-container {
  padding: 0 0px;
  margin: auto;
}
.header-shadow {
  box-shadow: 5px 0px 10px #DADADA;
}
header .logo {
  display: inline-block;
  height: 40px;
  margin: 30px 0px 10px 60px;
}
header .logo img {
  height: 100%;
}
header nav {
  display: inline-block;
  float: right;
}
header nav > ul {
  display: inline-block;
  padding: 0;
  margin: 0 50px 0 0;
  list-style: none;
}
header nav > ul > li {
  display: inline-block;
  margin: 0 16px;
  position: relative;
  z-index: 1;
}
header nav > ul > li > a {
  line-height: 80px;
  color: #000;
  text-decoration: none;
}
header nav > ul > li.active > a {
  border-bottom: 3px solid #ffcf0b;
}
.active_circle {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: -5px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  color: #ffcf0b;
  background: #ffcf0b;
}
main {
  display: flex;
  width: 100%;
  padding: 0 0px 10px 0px;
  margin: 0 0 200px 0;
  flex-wrap: wrap;
}
#intro_text_container {
  position: absolute;
  margin-top: 200px;
}
#intro_text_container > button {
  margin-top: 50px;
}
.intro_h2 {
  font-size: 28px;
  font-family: 'Lato-Medium', sans-serif;
  text-decoration: none;
  font-weight: normal;
  line-height: 35px;
}
.intro_header {
  margin-bottom: 20px;
}
#meijie {
  position: relative;
  float: right;
  width: 600px;
}
@media screen and (max-width: 900px) {
  #meijie {
    display: none;
  }
}
#introduction {
  margin: 0px 60px;
  height: 700px;
}
.yellow_links_container {
  margin-top: 40px;
}
#daily_ui {
  margin-top: 50px;
}
article > h1 {
  margin: 0px 60px 30px 60px;
}
.img_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.img_row > img {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .img_row > img {
    width: 100%;
  }
}
footer {
  height: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #eee;
  border-top: 1px solid #ccc;
}
footer > ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}
footer > ul > li {
  display: inline-block;
  margin: 0 16px;
}
